body {
  background-color: #2a363b;
}

body,
ul {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navigation {
  padding: 20px 50px;
  margin: 0 -15px;
  display: flex;
  background: #6da5ff;
}

.link {
  margin: 0 15px;
  color: #FFF;
  text-decoration: none;
}

.content {
  padding: 16px;
}
